.tenRap_item{ 
    border-bottom: solid 1px #ddd;
    max-height: 91px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.5;
}
 
img{ 
    cursor: pointer;
    max-height: 50px;
    max-width: 50px;
    width: 100%;
    
}
a{
    color:red;
    font-size: 12px;
}
.tenrap{
    font-size: 14px;
    line-height: 1.4;
    color:#000;
}
.diachi{
    font-size: 12px;
    color:#949494;
    line-height: 1.4;
}