<div class="item_quangcao px-0 mt-3" id="quangcao">
    <div class="row quangcao_content">
        <div class="col-12 item_infoQuangcao col-md-6">
            <h3>Ứng dụng tiện lợi dành cho

                người yêu điện ảnh</h3>
            <p>Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
            <button class="btn btnDown app_button">App Miễn Phí - Tải Về Ngay</button>
            <p>123Phim có hai phiên bản <a href="#">iOS</a> & <a href="#">Android</a></p>
        </div>
        <div class="col-12 col-md-6 phone">
            <img src="https://123phim.vn/app/assets/img/icons/phone_hand.png" style="height: 100%;display: block;width: 100%;" alt="">
            <div id="demo" class="carousel slide screenPhone"  data-ride="carousel">

                    <!-- Indicators -->
                 
                  
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                            <div class="carousel-item active"><img src="https://123phim.vn/app/assets/img/icons/slide0.png" alt=""></div>
                    
                            <div class="carousel-item"><img src="https://123phim.vn/app/assets/img/icons/slide4.png" alt=""></div>
                            
                            <div class="carousel-item"><img src="https://123phim.vn/app/assets/img/icons/slide5.png" alt=""></div>
                            
                            <div class="carousel-item   "><img src="https://123phim.vn/app/assets/img/icons/slide8.png" alt=""></div>
                    </div>
                  
                    <!-- Left and right controls -->
                     
                  </div>
        </div>
        <div>

        </div>
    </div>
</div>
 