.PhimDangChieu_content{
    flex-wrap: nowrap;
    .card{
        border: none;
    }
}
.owl2row-item{
    max-width: 215px;
    margin: auto;
}
 
.modal{
    .modal-dialog{
      margin-top: 100px;
      max-width: 900px;
      .modal-content{
        iframe{
          height: 500px;
          max-height: 500px;
          position: relative; 
          border-radius: 35px      ;
          -webkit-border-radius: 35px      ;
          -moz-border-radius: 35px      ;
          -ms-border-radius: 35px      ;
          -o-border-radius: 35px      ;
  }
        .close{
          position: absolute;
          top:-20px;
          right: -20px; 
          text-shadow: 0 1px 0 #fff;
        }
      }
    }
  }


@media screen and (max-width:768px){
   
}